PyQt5>=5.15.0
pefile>=2022.5.30
psutil>=5.9.0
pywin32>=228
pycryptodome>=3.15.0
requests>=2.28.0
pylint>=2.14.0
black>=22.3.0
pytest>=7.1.0
pytest-qt>=4.0.0
memory_profiler>=0.60.0
line_profiler>=3.5.1